<h1>New Review</h1>

<%= form_for [@kombucha, Review.new] do |f| %>
  <%= f.label :author %>
  <%= f.text_field :author %>
  <%= f.label :content_body %>
  <%= f.text_field :content_body %>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <%= f.submit  %>
<% end %>
